variables:
    IMAGE_NAME: tkoppine/demo-app1
    IMAGE_TAG: python-app-1.0
    CI_AWS_CFN_STACK_NAME: "FlaskAppStack"
    CI_AWS_CFN_TEMPLATE_FILE: aws/cf_create_stack.json

stages:
    - test
    - build
    - deploy

run_tests:
    stage: test
    image: python:3.12.0
    before_script:
        - apt-get update && apt-get install -y make
    script:
        - make test

build_image:
    stage: build
    image: docker:29.0.2-cli
    services:
        - docker:29.0.2-dind
    variables:
        DOCKER_TLS_CERTDIR: "/certs"
    before_script:
        - - docker login -u "$REGISTRY_USER" -p "$REGISTRY_PASS"
    script:
        - docker build -t $IMAGE_NAME:$IMAGE_TAG .
        - docker push $IMAGE_NAME:$IMAGE_TAG

deploy:
    stage: deploy
    only:
        - main
    script:
        - echo "CloudFormation deploy handled automatically by included template"

include:
    - template: AWS/CF-Provision.gitlab-ci.yml