variables:
  IMAGE_NAME: tkoppine/demo-app1
  IMAGE_TAG: python-app-1.0

stages:
  - test
  - build
  - deploy

run_tests:
  stage: test
  image: python:3.12.0
  before_script:
    - apt-get update && apt-get install -y make
  script:
    - make test

build_image:
  stage: build
  image: docker:29.0.2-cli
  services:
    - docker:29.0.2-dind
  variables:
    DOCKER_TLS_CERTDIR: '/certs'
  before_script:
    - - docker login -u "$REGISTRY_USER" -p "$REGISTRY_PASS"
  script:
    - docker build -t $IMAGE_NAME:$IMAGE_TAG .
    - docker push $IMAGE_NAME:$IMAGE_TAG

deploy:
  stage: deploy
  image: registry.gitlab.com/gitlab-org/cloud-deploy/aws-base:latest
  only:
    - main
  script:
    - aws cloudformation delete-stack --stack-name FlaskAppStack --region us-east-2 || true
    - aws cloudformation wait stack-delete-complete --stack-name FlaskAppStack --region us-east-2 || true
    - aws cloudformation deploy --template-file aws/cf_create_stack.json --stack-name FlaskAppStack --region us-east-2 --capabilities CAPABILITY_IAM
